<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786826039000-3nhck3b7eg96907o2qrhi28ucg0gu7le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786826039000-3nhck3b7eg96907o2qrhi28ucg0gu7le</string>
	<key>API_KEY</key>
	<string>AIzaSyAPXVnTJ2omf8Kymsw6yHHqR_6xs9naw10</string>
	<key>GCM_SENDER_ID</key>
	<string>786826039000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.selkni</string>
	<key>PROJECT_ID</key>
	<string>selekni-43e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>selekni-43e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786826039000:ios:eb035b9b7dcb94ff9551ad</string>
</dict>
</plist>